[submodule "backend/api/lung_cancer"]
	path = backend/api/lung_cancer
	url = https://github.com/analysiscenter/lung_cancer.git
[submodule "frontend/react-cropper"]
	path = frontend/react-cropper
	url = https://github.com/roadmanfong/react-cropper.git
