[submodule "frontend/react-cropper"]
	path = frontend/react-cropper
	url = https://github.com/roadmanfong/react-cropper.git
[submodule "backend/api/radio"]
	path = backend/api/radio
	url = https://github.com/analysiscenter/radio
