html {
  font-size: 4vmin;
}

body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 4vmin;
  height: 100%
  margin: 0;
  background-color: #101010;
  color: #ffffff;
}

.fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.slider {
  z-index: 100;
}

.loading {
  font-size: 1rem;	
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}
