html {
  font-size: 4vmin;
}

body {
  line-height: 1;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 4vmin;
  height: 100%
  margin: 0;
  background-color: #101010;
  color: #ffffff;
}

#gui { position: absolute; top: 2px; right: 2px }

.fullscreen {
  position: fixed;
  top: 20;
  left: 20;
  bottom: 0;
  right: 0;
}

.slider {
  z-index: 100;
}

.loading {
  font-size: 1rem;	
  text-align: center;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}


.page {
	padding-top: 0.5rem;
}

.page.item {
	padding-top: 0;
}

.page.loading {
	font-size: 3rem;
}

.page .item {
	color: #337ab7;
	text-align: center;
	cursor: pointer;
}

.page .item div {
	padding: 0.5rem;
}

.page .item a {
	text-decoration: none;
}
.page .item .fa {
	font-size: 4rem;
}
.page .item .name {
	font-size: 1.5rem;
	font-weight: 100;
	user-select: none;
}

.page .item:hover {
	background: #eeeeee;
}

.page.item .row .row {
	margin: 0;
}

.page.item h2 {
	font-size: 1rem;
	margin-top: 0.5rem;
    margin-left: 0.6rem;
}

.page.item .image-viewer {
	text-align: center;
	display: flex;
}

.page.item .image-viewer label.toggle {
	margin: 0.2rem 0.5rem;
}
.page.item .image-viewer label.toggle span {
	margin-left: 0.1rem;
}

.header {
    background-color: white;
    border:2px solid black;
    padding: 0.2rem;
    margin-bottom: 0.5rem;
}

.header > .toolbar {
    margin-left: 0.1rem;
}

.controls {
    margin-left: 1rem;
    margin-bottom: 0.2rem;}

.dropdown-menu {
    font-size: 2vmin;
    padding: 0.2rem;
    width: 1rem;
}

.toolbar > button {
    font-family: 'Roboto', sans-serif;
    margin-left: 0.1rem;
    width: 2rem;
    height: 1rem;
    font-size: 2vmin;
    padding: 0;
    text-align: center;
}

.toolbar > .checkbox {
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: white;
    display: inline;
    margin-left: 0.1rem;
    width: 2rem;
    height: 1rem;
    font-size: 2vmin;
    padding-left: 0.1rem;
    text-align: center;
}

.controls > button {
    margin-left: 0.1rem;
    width: 2rem;
    height: 1rem;
    font-size: 2vmin;
    padding: 0;
    text-align: center;
}

.dropdown-menu > li > a {
    cursor: pointer;
}

.nodulesList > li {
    cursor: pointer;
    font-size: 2vmin;
}

.page.item .slice-viewer .slider {
	height: 98%;
	margin-left: 0.4rem;
	margin-top: 0.2rem;
}

.page.item button.get-inference {
	position: absolute;
	top: 0;
	left: 15rem;
	padding: 0;
	margin-top: 0.4rem;
	width: 5rem;
	height: 1.2rem;
	font-size: 0.6rem;
	font-family: "Roboto Condensed", sans-serif;
	font-weight: 100;
}

.page.item button.get-inference .fa {
	margin-right: 0.2rem;
}


.page.item .image-viewer .loading {
	font-size: 3rem;
}

.page.ct.item .nodules {
    text-align: center;
}

.page.ct.item .nodules h3 {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.2rem;
}

.page.ct.item .nodules .list-group {
	margin-top: 0.2rem;
	font-size: 0.5rem;
	cursor: pointer;
	user-select: none;
}

.page.ct.item .nodules .list-group-item {
	outline: none;
}

.page.ct.item .nodules .list-group-item:hover {
	background: #eeeeee;
}

.xy {
    height: 600px;
    width: 600px;
}

.yz {
    position: absolute;
    height: 600px;
    width: 600px;
    left: 800px;
    top: 700px;
}

.xz {
    position: absolute;
    height: 600px;
    width: 600px;
    top: 700px;
}